/* @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

header{
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    padding:40px 100px;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    color: white;
    font-family: 'Bad Script', cursive;
}


@media (max-width: 991px){
    header{
        padding:40px;
    }
}